.heart {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 400px;
  height: 400px;
  background-color: red;
  transform: rotate(-45deg);
}

.heart::after {
  position: absolute;
  content: '';
  right: -200px;
  top: 0px;
  width: 400px;
  height: 400px;
  background-color: red;
  border-radius: 50%;
}

.heart::before {
  position: absolute;
  content: '';
  left: 0px;
  top: -200px;
  width: 400px;
  height: 400px;
  background-color: red;
  border-radius: 50%;
}