.heart {
  color: red;
  position: absolute;
  inset: 0;
  margin: auto;
  width: 200px;
  height: 200px;
  background-color: currentColor;
  transform: rotate(-45deg);
}

.heart::after {
  position: absolute;
  content: '';
  right: -100px;
  top: 0px;
  width: 200px;
  height: 200px;
  background-color:currentColor;
  border-radius: 50%;
}

.heart::before {
  position: absolute;
  content: '';
  left: 0px;
  top: -100px;
  width: 200px;
  height: 200px;
  background-color: currentColor;
  border-radius: 50%;
}